version: '3'
services:
  gitlab-runner:
    image: gitlab/gitlab-runner:alpine-v14.0.0
    restart: always
    volumes:
      - ./gitlab-runner:/etc/gitlab-runner
      - /var/run/docker.sock:/var/run/docker.sock:ro
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "5"
