version: '3'
services:
  gitlab-runner-init:
    image: gitlab/gitlab-runner:latest
    command: ["register",
              "--non-interactive",
              "--url", "https://gitlab.com/",
              "--registration-token", "YCze5-cHfDUbiCTDvdmN",
              "--executor", "docker",
              "--docker-image", "alpine:latest",
              "--description", "docker-runner",
              "--tag-list", "andyhuang-lab",
              "--run-untagged","true",
              "--locked", "false",
              "--access-level", "not_protected"]
    restart: "no"
    volumes:
      - ./gitlab-runner:/etc/gitlab-runner

  sleep:
    image: busybox:1.31.1
    command: sleep 10
    restart: "no"
    depends_on:
    - gitlab-runner-init

  setting-runner-config:
    image: busybox:1.31.1
    command: sed -i -e 's|    volumes =.*|    volumes = ["/cache", "/var/run/docker.sock:/run/docker.sock"]|g' -e '/^    volumes/a\    network_mode = "host"' /etc/gitlab-runner/config.toml
    depends_on:
    - gitlab-runner-init
    - sleep
    restart: "no"
    volumes:
      - ./gitlab-runner:/etc/gitlab-runner
