# 注意，新的runner 需修改以下幾個參數值
# --registration-token
# --executor
# --docker-image
# --description
# --tag-list
# executor參數: ssh, docker+machine, docker-ssh+machine, kubernetes, docker, parallels, virtualbox, docker-ssh, shell
version: '3'
services:
  gitlab-runner-init:
    image: gitlab/gitlab-runner:alpine-v14.0.0
    command: ["register",
              "--non-interactive",
              "--url", "https://gitlab.com/",
              "--registration-token", "7nzP-yDfJzubeEhUVvSz",
              "--executor", "docker",
              "--docker-image", "docker:stable",
              "--description", "docker-runner-lab",
              "--tag-list", "andyhuang-lab,beta-lab,docker,aws",
              "--docker-privileged",
              "--docker-volumes", "/certs/client"]
    restart: "no"
    volumes:
      - ./gitlab-runner:/etc/gitlab-runner
  ## v14版移除以下替換的流程 
  #sleep-wait-to-setting:
  #  image: busybox:latest
  #  command: sleep 10
  #  restart: "no"
  #  depends_on:
  #  - gitlab-runner-init

  #setting-runner-config:
  #  image: busybox:latest
  #  entrypoint: ["/bin/sh", "-c"]
  #  command: |
  #    - "sed -i -e 's|    privileged =.*|    privileged = true|g' /etc/gitlab-runner/config.toml &&
  #       sed -i -e 's|    volumes =.*|    volumes = ["/cache", "/var/run/docker.sock:/run/docker.sock"]|g' /etc/gitlab-runner/config.toml &&
  #       sed -i -e '/^    volumes/a\    network_mode = "host"' /etc/gitlab-runner/config.toml"
  #  depends_on:
  #  - gitlab-runner-init
  #  - sleep-wait-to-setting
  #  restart: "no"
  #  volumes:
  #    - ./gitlab-runner:/etc/gitlab-runner
